# alias IP addresses below for readability and expandability
# add IP addresses or hostnames as necessary
[vpnservers]
1.2.3.4

[vpnservers:vars]
openvpn_host=0.0.0.0

# groups defined below in terms of aliases
[ubuntu:children]
vpnservers

[Stoutsopenvpn:children]
vpnservers
